body{
    font-family: 'Roboto' !important;
}
a{
    text-decoration: none !important;
}
ul{
    padding-left: 0 !important;
}
.titleIndex{
    position: relative;
    background: linear-gradient(to right, #f78da7 40%, #f78da7);
    display: inline-block;
    color: #fff;
    padding: 7px 20px;
    margin-bottom: 25px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
}
.titleIndex:after{
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f78da7;
    position: absolute;
    top: 100%;
    left: 15px;
}
.titleIndex2{
    position: relative;
    border-bottom: 2px solid #ebebeb;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.titleIndex2 i{
    position: relative;
    font-size: 14px;
    padding: 7px 8px;
    background-color: #f78da7;
    color: #fff;
    margin-right: 10px;
}
.titleIndex2 i:after{
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #f78da7;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.item{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
}
.itemImage{
    position: relative;
    height: 180px;
    width: 125px;
    overflow: hidden;
}
.itemImage a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.itemImage img{
    transition: ease-in-out 0.4s all;
}
.itemImage:hover img{
    transform: scale(1.2);
    transition: ease-in-out 0.4s all;
    filter: brightness(70%);
}
.itemImage span{
    position: absolute;
    left: 0;
    top: 0;
    padding: 3px 5px;
    background-color: #cb2128;
    font-size: 12px;
    color: #fff;
    z-index: 3;
    text-transform: uppercase;
    font-weight: 700;
} 
.itemContent{
    padding: 8px 12px 8px 0;
    width: calc(100% - 137px);
}
.itemTitle{
    margin-bottom: 8px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.itemTitle a{
    font-size: 16px;
    color: #333;
}
.itemRate,
.itemDate{
    font-size: 12px;
    color: #666;
    font-weight: 400;
    margin-bottom: 5px;
}
.itemRate i{
    color: #ffd900;
}
.itemChap a{
    color: #333;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 10px;
    background-color: #ebebeb;
    transition: ease-in-out 0.3s;
    margin-right: 7px;
}
.itemChap a:hover{
    color: #fff;
    background-color: #f78da7;
}
.itemChap span{
    font-size: 11px;
    font-weight: 500;
    color: #aaa;
}
.itemChap span.iconNew{
    padding: 2px 7px;
    background-color: #cb2128;
    color: #fff;
    text-transform: uppercase;
}
.headerNav {
    background: linear-gradient(to right, #f78da7 40%, #f78da7);
    padding: 15px 0;
}
.logoImage{
    position: relative;
    width: 270px;
}
.navbarMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    width: 70%;
    margin-left: 40px;
}
#navbarContent .nav-link {
    font-weight: 700;
    margin-right: 40px;
    position: relative;
    padding: 0;
    font-size: 16px;
    color: #fff;
}
#navbarContent .nav-link:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background: #fff;
    transition: ease-in-out 0.3s;
}
#navbarContent .nav-link:hover:after {
    width: 100% !important;
}
.searchIconMobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
.searchIconMobile a {
    font-size: 18px;
    color: #f78da7;
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #fff;
    margin-left: 7px;
    line-height: 45px;
    text-align: center;
}
.searchIconMobile a:hover{
    color: #f78da7;
    background-color: #000;
    transition: ease-in-out 0.3s;
}
.loginUser{
    position: relative;
    text-align: right;
    padding: 15px 0;
}
.loginUser a.iconLogin{
    color: #666;
    font-weight: 500;
    display: inline-block;
    padding: 5px 15px;
    border: 2px solid #666;
    border-radius: 30px;
    transition: all 0.3s;
    margin-left: 10px;
}
.loginUser a.iconLogin:hover{
    color: #fff;
    background-color: #666;
}
.urlUser{
    font-weight: 700;
    color: #f78da7;
}
#menuMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    z-index: 9999;
    text-align: center;
    padding-top: 50px;
    transition: ease-in-out 0.4s;
    opacity: 0;
}
#menuMobile.showMenu {
    width: 100%;
    opacity: 1;
}
#menuMobile i {
    position: absolute;
    font-size: 30px;
    color: #cb2128;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
#menuMobile ul {
    list-style: none;
    padding-left: 0;
}
#menuMobile li {
    margin-bottom: 15px;
}
#menuMobile a {
    font-size: 24px;
    color: #333;
}
#menuMobile .active a {
    color: #cb2128;
}
.slidePage{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}
.slideContent{
    position: relative;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0 1px 5px rgb(75 70 70 / 31%);
}
.mySlide{
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
}
.mySlide .slickPrev {
    right: 55px;
}
.mySlide .slickNext {
    right: 15px;
}
.mySlide .slickArrow {
    position: absolute;
    background: #f78da7;
    color: #fff;
    margin-top: 0;
    text-align: center;
    top: -45px;
    transform: translateY(-50%);
    z-index: 2;
    width: 30px;
    height: 30px;
    font-size: 10px;
    line-height: 30px;
    cursor: pointer;
}
.itemSlide{
    padding: 0 15px;
}
.indexPage{
    position: relative;
    padding: 40px 0;
}
.hotItem{
    position: relative;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0 1px 5px rgb(75 70 70 / 31%);
}
.btnViewMore{
    background-color: #f78da7;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 6px 0px;
}
.btnViewMore2{
    background-color: #f78da7;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 6px 40px;
}
.categoryItem a{
    color: #333;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 10px;
    background-color: #ebebeb;
    transition: ease-in-out 0.3s;
    display: inline-block;
    margin: 0 10px 10px 0;
    transition: ease-in-out 0.2s all;
}
.categoryItem a:hover{
    background-color: #f78da7;
    color: #fff;
}
.searchPage{
    display: none;
    padding: 20px 0;
}
.searchPage.showSearch{
    display: block;
}
.formSearch{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: auto;
}
.fmiSearch{
    width: calc(100% - 120px);
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: 1px solid #d7d7d7;
    color: #333;
    font-size: 14px;
    outline: none;
}
.fmiSearch:focus{
    border: 1px solid #d7d7d7;
}
.btnSearch{
    background: #f78da7;
    border: none;
    font-weight: 700;
    color: #fff;
    border-radius: 0;
    width: 120px;
    height: 40px;
    font-size: 14px;
}
.searchResult{
    position: absolute;
    left: 0;
    width: calc(100% - 120px);
    top: 100%;
    background-color: #fff;
    z-index: 5;
    border: 1px solid #cccccc;
    border-bottom: 0;
}
.searchResult a,
.searchResult span{
    font-size: 14px;
    display: block;
    padding: 10px 20px;
    color: #333;
    border-bottom: 1px solid #cccccc;
}
.searchResult a:hover{
    background-color: #d7d7d7;
}
.orderPage{
    position: relative;
}
.orderPage ul{
    position: absolute;
    top: 0;
    right:0;
    list-style: none;
}
.orderPage ul li{
    display: inline-block;
}
.orderPage ul li a{
    font-weight: 400;
    font-size: 14px;
    color: #aaa;
    padding: 5px 10px;
    text-transform: capitalize;
}
.orderPage ul li a.active,
.orderPage ul li a:hover{
    color: #f78da7;
    border-bottom: 2px solid #f78da7;
}
.itemDetail{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}
.itemDetail h3{
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
}
.contentDetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemImageDetail{
    background: #fff;
    border-radius: 15px;
    padding: 15px;
    width: 225px;
    height: 315px;
}
.itemContentDetails{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 30px 30px;
    width: calc(100% - 250px);
    height: 315px;
    overflow: hidden;
}
.itemContentDetail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemRateDetail{
    color: #ffd900;
    font-size: 25px;
}
.listChap,
.itemContentDetailLeft ul{
    list-style: none;
    font-size: 16px;
    color: #666;
}
.itemContentDetailLeft ul li{
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.itemContentDetailLeft ul li span:first-child{
    font-weight: 600;
    display: inline-block;
    width: 100px;
}
.itemButtonDetail a:first-child{
    margin-right: 10px;
}
.btnChap{
    background-color: #f78da7;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}
.itemDesc{
    font-size: 14px;
    color: #666;
}
.listChap li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.listChap li a{
    font-weight: 500;
    color: #333;
}
.listChap li a:hover{
    color: #f78da7;
}
.listChap span{
    font-size: 12px;
    font-weight: 700;
    color: #aaa;
}
.listChap span.iconNew{
    padding: 2px 7px;
    background-color: #cb2128;
    color: #fff;
    text-transform: uppercase;
}
.breadcrumbChap{
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}
.breadcrumbChap a{
    color: #666;
}
.breadcrumbChap a:hover{
    color: #f78da7;
}
.btnChapContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.btnChapContent select{
    width: 150px;
}
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f78da7;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    display: none;
    z-index: 9999;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.contentShopee{
    position: relative;
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-top: 50px;
}
.imgShopee{
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
}
.contentShopee i{
    color: #ffd900;
}
.contentShopee a{
    color: #333;
    text-decoration: underline !important;
}
.contentShopee h4,
.contentShopee a:hover{
    color: #f78da7;
}
.contentShopee span{
    color: #cb2128;
    font-weight: 700;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 14px;
    font-weight: bold;
}
.pagination a {
    color: black;
    padding: 8px 15px;
}
.pagination a.active {
    background-color: #f78da7;
    color: white;
    border-radius: 5px;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
#modalSignUp .modal-content,
#modalLogIn .modal-content{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#modalBookMark .modal-dialog,
#modalComment .modal-dialog,
#modalSignUp .modal-dialog,
#modalLogIn .modal-dialog{
    top: 40%;
    transform: translateY(-50%);
}
.formSearchIndex{
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}
.formSearchIndex input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(45, 45, 45, 0.3);
    border-radius: 5px;
    padding: 0 45px 0 15px;
    line-height: 40px;
    outline: none;
}
.formSearchIndex::before{
    content: '';
    position: absolute;
    height: 27px;
    width: 1px;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #aaa;
}
.formSearchIndex i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    cursor: pointer;
    color: #aaa;
}
.searchResultIndex{
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
    background-color: #fff;
    z-index: 5;
    border: 1px solid #cccccc;
    border-bottom: 0;
    box-shadow: 5px 10px 8px #888888;
}
.searchResultIndex a,
.searchResultIndex span{
    font-size: 14px;
    display: block;
    padding: 10px 20px;
    color: #333;
    border-bottom: 1px solid #cccccc;
}
.searchResultIndex a:hover{
    background-color: #d7d7d7;
}
.logoImageMobi{
    filter: invert(1);
    width: 80%;
    margin: auto;
}
.commentContent{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.avatarUser{
    width: 100px;
}
#formComment{
    width: calc(100% - 120px);
    margin-bottom: 20px;
}
.starRating {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.starIcon {
    font-size: 30px;
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s ease;
}
.starIcon:hover {
    color: #ffcc00;
}
.starIcon.selected {
    color: #ffcc00;
}
#fmiCommentText{
    outline: none;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.listComment{
    position: relative;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgb(75 70 70 / 31%);
    margin-bottom: 15px;
}
.headerListComment{
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
    margin-bottom: 10px;
    font-size: 18px;
}
.headerListComment span{
    font-style: italic;
    color: #aaa;
    font-size: 14px;
    padding-left: 15px;
}
.itemContentDetailRight{
    position: relative;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;
    font-size: 14px;
}
.iconitemCommentBookmar i{
    font-size: 30px;
    color: #f78da7;
}
.itemHistory{
    position: relative;
    margin-bottom: 30px;
}
.itemHistoryContent{
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemHistoryTitle{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 210px);
}
.itemHistoryTitle a{
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.itemHistoryDetail{
    font-size: 12px;
    font-style: italic;
    color: #888;
    text-align: right;
    overflow: hidden;
    width: 100px;
}
.itemHistoryTitle a:hover{
    color: #f78da7;
}
.itemHistoryDate{
    font-size: 12px;
    font-style: italic;
    color: #888;
    overflow: hidden;
    width: 100px;
}
.itemUser{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 0;
    background-color: #fff;
    opacity: 0;
    height: 0;
    transition: ease-in-out 0.2s all;
}
.itemUser a{
    display: block;
    color: #666;
    font-size: 14px;
    padding: 7px 15px;
}
.itemUser a:hover{
    color: #f78da7;
}
.showInfoUser .itemUser{
    height: auto;
    z-index: 10;
    opacity: 1;
    transition: ease-in-out 0.2s all;
}
@media only screen and (min-width: 992px) {
    .iconMenu {
      display: none !important;
    }
}
@media only screen and (max-width: 991px) {
    .contentDetail{
        display: block;
        text-align: center;
    }
    .itemImageDetail{
        height: auto;
        margin: auto;
    }
    .itemContentDetails{
        width: 100%;
        margin-top: 20px;
        height: auto;
    }
    .itemContentDetail{
        display: block;
    }
    .itemContentDetailLeft ul li{
        justify-content: center;
    }
    .itemContentDetailLeft ul li span:first-child{
        width: auto;
        padding-right: 5px;
    }
    .itemContentDetailRight{
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 600px) {
    .logoImage{
        width: 600px;
    }
    .searchResult,
    .fmiSearch{
        width: calc(100% - 100px);
    }
    .btnSearch{
        width: 100px;
    }
    .orderPage ul{
        position: relative;
        margin-top: 10px;
        text-align: center;
    }
    .btnChapContent{
        display: block;
    }
    .btnChapContent select{
        margin-bottom: 20px;
        width: 100%;
    }
    .itemButtonDetail a:first-child{
        margin-right: 0px;
    }
    .itemButtonDetail{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar {
        display: none;
    }
    .commentContent{
        display: block;
    }
    #formComment{
        width: 100%;
        text-align: center;
    }
    .avatarUser{
        margin: auto;
    }
    .starRating{
        justify-content: center;
    }
    .itemHistoryDetail{
        width: 90px;
    }
    .itemHistoryTitle{
        width: calc(100% - 175px);
    }
    .itemHistoryDate{
        width: 85px;
    }
    .itemHistoryContent{
        padding: 7px 5px;
    }
}